.home {
  margin: 40px auto;
  text-align: center;
  color: #333333;
  font-size: 15px;
  text-shadow: 0 3px 0 2px #eee;
  text-align: center;

  a {
    padding: 0 5px;
    text-decoration: none;
    color: #333333;
  }
}
